* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pathway Extreme", sans-serif;
}

body {
  background-color: #f0f0f0;
}

.form-container,
.meme-container {
  width: 75%;
  margin: 20px auto;
}

form {
  border: 1px solid gray;
  padding: 10px 20px;
  background-color: #f9d949;
  border: none;
  border-radius: 10px;
}
h1 {
  text-align: center;
  margin: 20px auto;
  color: #f45050;
}

.title {
  font-family: "Delicious Handrawn", cursive;
  font-size: 3rem;
  color: #3c486b;
}

form input {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

form label {
  margin-left: 10px;
  color: #3c486b;
  font-weight: 600;
}

input[type="text"] {
  font-size: 1rem;
}

button {
  margin-right: 0;
  background-color: #798ecd;
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #3c486b;
  cursor: pointer;
}

/* meme container output */

.meme-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  margin: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.caption {
  color: white;
  text-shadow: 2px 2px #000;
  font-weight: 400;
  font-size: 2.3rem;
  font-family: "Delicious Handrawn";
  letter-spacing: 1.4px;
}

.caption-top {
  position: absolute;
  top: 10px;
  left: 20px;
}
.caption-bottom {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

@media (max-width: 680px) {
  .img-card {
    display: block;
    flex-direction: column;
  }
}
